
section{
  width:70%
}
p{
  margin:1em;
}
.buttonbar{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.preamble{
  display: block;
}
.plate-logo{
  max-width:300px;
}