
section{
  width:70%
}
p{
  margin:1em;
}
.buttonbar{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.preamble{
  display: block;
}

.brand,.preamble{
  line-height:0.6;
  z-index:300;
  position: relative;
  z-index:100;
}
.plate-logo{
  width:200px;
}