hr{
  margin: 1em 0;
}

.calendar{
  text-align: center;
}

.cal-btn{
  display:block;
  width:100%;
  text-align: center;
  margin:1em 0 !important;
}
@media(min-width:450px){
  .cal-btn{
    width:90%
  }
}
  @media(min-width:495px){
    .cal-btn{
      width:80%
    }
  }
  @media(min-width:770px){
    .cal-btn{
      width:60%;
      margin:1em 1em !important;
    }
  }
  @media(min-width:992px){
    .cal-btn{
      width:40%
    }
  }
.react-calendar{
  margin:auto
}